In [1]:
import numpy as np , pandas as pd

In [2]:
pd.__version__

'0.23.0'

In [4]:
np.__version__

'1.14.3'

In [5]:
df = pd.read_csv('C:\Users\dasarred\Downloads\vgsales.csv', encoding='utf-8')

SyntaxError: (unicode error) 'unicodeescape' codec can't decode bytes in position 2-3: truncated \UXXXXXXXX escape (<ipython-input-5-5c6c1e9e9d5d>, line 1)

In [9]:
df = pd.read_csv(r'C:\Users\dasarred\Downloads\vgsales.csv', encoding='utf-8')

In [19]:
df.shape

(16598, 11)

In [20]:
df.columns

Index(['Rank', 'Name', 'Platform', 'Year', 'Genre', 'Publisher', 'NA_Sales',
       'EU_Sales', 'JP_Sales', 'Other_Sales', 'Global_Sales'],
      dtype='object')

In [22]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16598 entries, 0 to 16597
Data columns (total 11 columns):
Rank            16598 non-null int64
Name            16598 non-null object
Platform        16598 non-null object
Year            16327 non-null float64
Genre           16598 non-null object
Publisher       16540 non-null object
NA_Sales        16598 non-null float64
EU_Sales        16598 non-null float64
JP_Sales        16598 non-null float64
Other_Sales     16598 non-null float64
Global_Sales    16598 non-null float64
dtypes: float64(6), int64(1), object(4)
memory usage: 1.4+ MB

In [23]:
df.head(10)

,Rank,Name,Platform,Year,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales
0,1,Wii Sports,Wii,2006.0,Sports,Nintendo,41.49,29.02,3.77,8.46,82.74
1,2,Super Mario Bros.,NES,1985.0,Platform,Nintendo,29.08,3.58,6.81,0.77,40.24
2,3,Mario Kart Wii,Wii,2008.0,Racing,Nintendo,15.85,12.88,3.79,3.31,35.82
3,4,Wii Sports Resort,Wii,2009.0,Sports,Nintendo,15.75,11.01,3.28,2.96,33.00
4,5,Pokemon Red/Pokemon Blue,GB,1996.0,Role-Playing,Nintendo,11.27,8.89,10.22,1.00,31.37
5,6,Tetris,GB,1989.0,Puzzle,Nintendo,23.20,2.26,4.22,0.58,30.26
6,7,New Super Mario Bros.,DS,2006.0,Platform,Nintendo,11.38,9.23,6.50,2.90,30.01
7,8,Wii Play,Wii,2006.0,Misc,Nintendo,14.03,9.20,2.93,2.85,29.02
8,9,New Super Mario Bros. Wii,Wii,2009.0,Platform,Nintendo,14.59,7.06,4.70,2.26,28.62
9,10,Duck Hunt,NES,1984.0,Shooter,Nintendo,26.93,0.63,0.28,0.47,28.31

In [24]:
df[['Name', 'Platform', 'Year', 'Genre', 'Publisher']].iloc[1:7]

                       Name Platform    Year         Genre Publisher
1         Super Mario Bros.      NES  1985.0      Platform  Nintendo
2            Mario Kart Wii      Wii  2008.0        Racing  Nintendo
3         Wii Sports Resort      Wii  2009.0        Sports  Nintendo
4  Pokemon Red/Pokemon Blue       GB  1996.0  Role-Playing  Nintendo
5                    Tetris       GB  1989.0        Puzzle  Nintendo
6     New Super Mario Bros.       DS  2006.0      Platform  Nintendo

In [43]:
genres = np.unique(df['Genre'])

In [44]:
genres

array(['Action', 'Adventure', 'Fighting', 'Misc', 'Platform', 'Puzzle',
       'Racing', 'Role-Playing', 'Shooter', 'Simulation', 'Sports',
       'Strategy'], dtype=object)

In [45]:
from sklearn.preprocessing import LabelEncoder

gle = LabelEncoder()
genre_labels = gle.fit_transform(df['Genre'])
genre_mappings = {index: label for index, label in enumerate(gle.classes_)}
genre_mappings

{0: 'Action',
 1: 'Adventure',
 2: 'Fighting',
 3: 'Misc',
 4: 'Platform',
 5: 'Puzzle',
 6: 'Racing',
 7: 'Role-Playing',
 8: 'Shooter',
 9: 'Simulation',
 10: 'Sports',
 11: 'Strategy'}

In [31]:
genre_labels

array([10,  4,  6, ...,  6,  5,  4], dtype=int64)

In [32]:
df['GenreLabel'] = genre_labels
df[['Name', 'Platform', 'Year', 'Genre', 'GenreLabel']].iloc[1:7]

                       Name Platform    Year         Genre  GenreLabel
1         Super Mario Bros.      NES  1985.0      Platform           4
2            Mario Kart Wii      Wii  2008.0        Racing           6
3         Wii Sports Resort      Wii  2009.0        Sports          10
4  Pokemon Red/Pokemon Blue       GB  1996.0  Role-Playing           7
5                    Tetris       GB  1989.0        Puzzle           5
6     New Super Mario Bros.       DS  2006.0      Platform           4

In [36]:
platformUnique = np.unique(df['Platform'])

In [37]:
platformUnique

array(['2600', '3DO', '3DS', 'DC', 'DS', 'GB', 'GBA', 'GC', 'GEN', 'GG',
       'N64', 'NES', 'NG', 'PC', 'PCFX', 'PS', 'PS2', 'PS3', 'PS4', 'PSP',
       'PSV', 'SAT', 'SCD', 'SNES', 'TG16', 'WS', 'Wii', 'WiiU', 'X360',
       'XB', 'XOne'], dtype=object)

In [50]:
from sklearn.preprocessing import LabelEncoder
x = LabelEncoder()
platform_labels = x.fit_transform(df['Platform'])
p_mappings = {index: label for index, label in enumerate(x.classes_)}
p_mappings

{0: '2600',
 1: '3DO',
 2: '3DS',
 3: 'DC',
 4: 'DS',
 5: 'GB',
 6: 'GBA',
 7: 'GC',
 8: 'GEN',
 9: 'GG',
 10: 'N64',
 11: 'NES',
 12: 'NG',
 13: 'PC',
 14: 'PCFX',
 15: 'PS',
 16: 'PS2',
 17: 'PS3',
 18: 'PS4',
 19: 'PSP',
 20: 'PSV',
 21: 'SAT',
 22: 'SCD',
 23: 'SNES',
 24: 'TG16',
 25: 'WS',
 26: 'Wii',
 27: 'WiiU',
 28: 'X360',
 29: 'XB',
 30: 'XOne'}

In [51]:
df['platformLabel'] = platform_labels
df[['Name', 'Platform','platformLabel', 'Year', 'Genre', 'GenreLabel']].iloc[1:7]

,Name,Platform,platformLabel,Year,Genre,GenreLabel
1,Super Mario Bros.,NES,11,1985.0,Platform,4
2,Mario Kart Wii,Wii,26,2008.0,Racing,6
3,Wii Sports Resort,Wii,26,2009.0,Sports,10
4,Pokemon Red/Pokemon Blue,GB,5,1996.0,Role-Playing,7
5,Tetris,GB,5,1989.0,Puzzle,5
6,New Super Mario Bros.,DS,4,2006.0,Platform,4